<div class="wrapper">
	
	<header class="text-center" id="home">
			<h1 id="marketing">The Mirror Paradox</h1>
			<p class="lead">Would you put a price on your future?</p>
			<a href="#selection" class="start-button control">Start Now &nbsp;<i class="fa fa-long-arrow-right"></i></a>
	</header>

	<div id="selector">
		<div class="container-fluid selection text-center">
			<h1 id="selection-header">Make Your Choice</h1>

			<section class="numbers">
				<p id="transaction"></p>
			</section>	

			<section class="row-fluid">		
				<div class="survey col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

					<div class="noUiSlider"></div>
		    
			    	<div class="gender">
			    		<p class="pull-left">Gender:</p>
			    		<%= label_tag(:gender, "Male", class: 'gender-label radio-inline') %>
					    <%= radio_button_tag(:gender, "Male", class: 'gender') %>

					    <%= label_tag(:gender, "Female", class: 'gender-label radio-inline')%>
						<%= radio_button_tag(:gender, "Female", class: 'gender') %>
				    </div>

				    <div class="age-range">
				    	<%= select_tag(:age, options_for_select(['under 21', '21-25', '26-30', '31-35', '36-40', '41-45', '46-50', '51-55', '56-60', '61-65', '+65']), prompt: "Select Age", class: 'form-control')%>
				    </div>

					<div id="submit-button">
					    <button class="btn btn-primary">Submit</button>
					</div>
		    	</div>
			</section>
	
<!-- 			<div class="row-fluid">
			</div> -->
		</div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Welcome to The Mirror Paradox</h4>
      </div>
      <div class="modal-body">
  		<ul>
  			<li>If you could receive five hundred dollars tax-free right now, but in exchange, your life span is cut down by one day...</li>
  			<li>Would you accept the offer? If so, how many days would you be willing to trade?</li>
  			<li>Click and drag the slider to get started!</li>
  		</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= javascript_include_tag "home", "data-turbolinks-track" => true %>

